/* ==================Font================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
/* ==================vars================== css */
--header-height: 3.5rem;

/* var colors */
--hue: 116;/* green color */
--body-color: hsl(116, 73%, 97%);
--container-color: #fff;
--title-color: hsl(116, 4%, 15%);
--text-color: hsl(116, 4%, 35%);
--text-color-light: hsl(116, 4%, 55%);

/* fonts */
--body-font: 'Poppins', sans-serif;
--alt-font: 'Courier New', 'Courier', 'monospace';
--big-font-size: 4.5rem;
--h1-font-size: 3rem;
--h2-font-size: 2.5rem;
--h3-font-size: 2rem;
--normal-font-size: 1.5rem;
--small-font-size: 1.25rem;
--smaller-font-size: 1rem;
--text-font-size: 0.75rem;
--font-medium: 500;
--font-semi-bold: 600;
--font-light: 400;
--letter-space: 0.75rem;



/* bottom margins */
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;


/* z-index */
--z-background: 1;
--z-layer: 50;
--z-static: 100;


}

/* @media screen and (min-width: 1200px){

} */


/* ==================base page================== */
*{ 
     box-sizing: 0;   /* everything is within the webpage  */
     padding: 0;
     margin: 0;
     /* because then we can adjust margins for each container */
}

html {
    scroll-behavior: smooth;
    background-color: var(--text-color-light);
}

.temp {

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 1256px;
    height: 750px;
    background-color: hsla(27, 76%, 94%, 1);
    
}

body, button, input {
    font-family: var(--body-font);
    font-size: var(--text-font-size);
    font-weight: var(--font-medium);
}

.container{
    max-width: 1200px;
    margin: auto;
    /* margin-left: var(--mb-2-5);
    margin-right: var(--mb-2-5); */
  }

.grid{
    display: grid;
}
  

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-static);
    letter-spacing: 1px;
}

.grid{
      display: grid;
}

ul{
    list-style: none;
  }

button {
    cursor: pointer;
    border: 0;
    outline: 0;
}



a{
    text-decoration: none;
    display: inline-block;
    transition: transform .3s ease-out;
  }



/* ==================nav================== */
.nav {
    height: calc(var(--header-height) + 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo-icon {
    font-weight: var(--font-light);
    font-size: var(--h1-font-size);
    position: relative;
    top:2px;
}

.nav__menu {
    margin-right: auto;
    padding: 0 1.4rem;
}

.solution__icon{
    position: relative;
    transition: .3s;
    display: inline-flex;
    top: 2px;
  }

  .nav__list {
      margin-left: -.8rem;
  }

.nav__list li{
    display: inline-block;
    justify-content: flex-start;
    padding: 0 1rem;
}

.nav__login-list {
    margin-right: 2rem;
}

.nav__login {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    
}


.nav__link, .login__link   {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    
}

.login__link-sign {
    color: var(--body-color)
}

.nav__login-plain > a:hover {
    color: var(--text-color-light);
}

.nav__link:hover   {
    color: var(--text-color-light);
}


.si-btn:hover{
    background-color: hsla(316, 61%, 89%, 1); 
}

.si-btn:hover > a {
    color: #111;
}

.si-btn {
    width: 6rem;
    height: 3rem;
    border-radius: .50rem;
    background-color: #111;
}

.nav__logo:hover {
    color: hsla(316, 61%, 69%, .5);
} 

 a:hover .solution__icon {
    transform: translateX(.25rem);
}




.main__container {
    display: flex;
    margin: 1.6rem;
    padding: 300px 0 0;
    text-align: left;
    height: -96px;
    width: 32%;
}

img{
    max-width: 48%;
    height: auto;
    z-index: -1;
  }

  .img-test {
      position: absolute;
      left:575px;
      top:27px;
  }

  .hero__container h1 {
      font-weight: calc(var(--font-semi-bold) - 50);
      font-size: calc(var(--big-font-size) - 1rem);
      line-height: 4.5rem;
  }

  .hero__container p {
      width: 73%;
      padding-top: 1rem;
      padding-left: 0.27rem;
      line-height: 1.6rem;
  }

  .low__hero {
      
      display: flex;
      justify-content:flex-start;
      align-items: center;
      padding-left: 5px; 
  }
    h3 {
    letter-spacing: .5px;
    font-size:smaller;
    font-weight: var(--font-medium);
  }
  
  .btn-cta {
    margin: 0 1.8rem 0 1.6rem;
    position: relative;
    background-color: hsla(116, 21%, 39%, 1);
    color: #fff;
    font-size: .65rem;
    font-weight: var(--font-light);
    letter-spacing: 1px;
    width: 8rem;
    height: 3rem;
    border-radius: .50rem;
  }

  .btn-cta:hover{
    background-color: hsla(316, 61%, 89%, 1); 
}

.btn-cta:hover > a {
    color: #111;
}
  
  span {
      position: relative;
      top: 1px;
  }

  .ri-fire-line {
      position: relative;
      bottom: 16px;
      right:8px;
      font-size: 1.3rem;
      font-weight: var(--font-light);
      
  }

  .circle__fire {
      position: relative;
      top: 8px;
      background-color: hsla(316, 61%, 85%, 1);
      width: 22px;
      height: 22px;
      border-radius: 100%;
      z-index: -1;
  }

  .rest {
      z-index: 1;
      position: relative;
      top: 5px;
      right:5px;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
  }

  .list__content {
      font-size: 8px;
      letter-spacing: 13px;
      padding-left: 24rem;
      display: inline-flex;
      justify-content: flex-end;
      flex-direction: row;
  }


  .img-test2 {
      position: relative;
      left:40px;
      bottom: 5px;
      width: 64px;
      height: 64px;
  }